.idea
/icms/ms-gateway-service/*.gitattributes
/icms/ms-gateway-service/*.gitignore
/icms/ms-gateway-service/.mvn
/icms/ms-gateway-service/target
/icms/ms-gateway-service/.idea

/icms/ms-order-service/*.gitattributes
/icms/ms-order-service/*.gitignore
/icms/ms-order-service/.mvn
/icms/ms-order-service/target
/icms/ms-order-service/.idea


/icms/ms-product-service/*.gitattributes
/icms/ms-product-service/*.gitignore
/icms/ms-product-service/.mvn
/icms/ms-product-service/target
/icms/ms-product-service/.idea


/icms/ms-registry-service/*.gitattributes
/icms/ms-registry-service/*.gitignore
/icms/ms-registry-service/.mvn
/icms/ms-registry-service/target
/icms/ms-registry-service/.idea

